@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --light-background: #fff;
    --dark-background: rgba(35, 39, 60, 1);
    --light-text: #000;
    --dark-text: #fff;
    --light-linkActive: #dd6b20;
    --dark-linkActive: #66c7fa;
    --light-linkHover: #d99a5a;
    --dark-linkHover: #bfe9ff;
    --light-btnColor: #dd6b20;
    --dark-btnColor: #188cff;
    --light-footerBg: white;
    --dark-footerBg: rgba(52, 57, 83, 1);
}

html {
    --background: var(--light-background);
    --textColor: var(--light-text);
    --linkActive: var(--light-linkActive);
    --linkHover: var(--light-linkHover);
    --btnBg: var(--light-btnColor);
    --footerBg: var(--light-footerBg);
}

html.dark {
    --background: var(--dark-background);
    --textColor: var(--dark-text);
    --linkActive: var(--dark-linkActive);
    --linkHover: var(--dark-linkHover);
    --btnBg: var(--dark-btnColor);
    --footerBg: var(--dark-footerBg);
}

.errorAnimate {
    animation: fadeInOut 2s ease-out;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
        bottom: 0;
    }

    25%,
    75% {
        opacity: 1;
        bottom: 50px;
    }
}

.custom-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--background);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: var(--background);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--btnBg);

}